# Ignorar contenido de data
data/**

*.jpg
*.jpeg
*.png

# Ignorar archivos temporales de Python y Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Pero mantener los .gitkeep
!data/
!data/raw/
!data/raw/Original/
!data/raw/Original/.gitkeep
!data/raw/.gitkeep
!data/clasificacion/
!data/clasificacion/.gitkeep